* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
/* header */
#showcase {
    width: 100%;
    height: 90vh;
    text-align: center;
    position: relative;
}
 #showcase .bg-img {
     background: url("../img/ai-codes-coding-247791\ \(1\).jpg");
     position: absolute;
     width: 100%;
     height: 90vh;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     z-index: -1;
 }
#showcase .content-wrap {
    padding-top: 20vh;
}

 #showcase .content-wrap img{
    width: 30vw;
    height: 30vw;
    border-radius: 15vw;
}

#showcase .content-wrap h1{
    padding-top:2vh; 
    color: white;
}
#showcase .content-wrap p{
    padding-top:2vh;
    color: white;
 }


 /* Desk top header section*/
 @media screen and (min-width: 1000px){
    #showcase .content-wrap img{
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
    }
    #showcase .content-wrap p{
        font-size: 1.2em;
        font-weight: 100;
     }

 }

 /* Nav bar Responsive*/

 .nav-flex-container {
     padding: 0;
     margin: 0;
 }

 .nav-flex {
     display: flex ;
     justify-content: space-around;
     line-height: 50px;
     background-color: rgb(166, 207, 226);
     flex-wrap: wrap;
 }
 .nav-flex>li {
    width: 100%;
}
 .nav-flex a {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 3px solid rgba(120, 190, 199, 0.425);
}
.nav-flex a:hover {
    border-bottom: 3px solid rgb(243, 76, 10);
    color: rgb(243, 76, 10);
}
/* navbar desktop*/
@media screen and (min-width: 768px){
    .nav-flex {
        flex-wrap: nowrap;
    }
}

 
 

/* Section About */
#section-about {
    background-color: rgb(166, 207, 226);
    text-align: center;
}
#section-about ul {
    margin: none;
    list-style: none;
    padding: 0%;
}
#section-about img {
    width: 30vw;
    height: 30vw;
    border-radius: 15vw;
}
#section-about .card{
    padding: 30px;
}
/*Desktop about section*/
@media screen and (min-width: 768px){
    .grid-about {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    #section-about img {
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
    }

}

/* Section project */
.grid-project {
    display: grid;
    background: rgb(157, 194, 211);
}
.grid-project>div {
        
    border: 1px solid rgb(151, 172, 185);
}
.grid-project .project-head{
    text-align: center;
    background-image: url(https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.grid-project .card {
    height: 200px;
    margin: 5px;
    background: white;
    padding: 0;
}
.grid-project .card .card-img{
    height: 50%;
    background-image: url(https://images.pexels.com/photos/1124066/pexels-photo-1124066.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.grid-project .card .card-content{
    height: 50%;
    padding: 5px;   
}
.grid-project .card .card-content p{
    padding: 5px;   
}





@media screen and (min-width: 768px){
    .grid-project {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-project>div {
        
        margin: 5px;
    }
    .grid-project .project-head{
        grid-column: 1/4;
        padding: 150px;
        text-align: center;
        background-image: url(https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .grid-project .card {
        height: 300px;
    }
}



/* Section social media */

section {
    margin: 0;
    padding: 0;
}
.flex-social {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:0;
    height: 400px;
    background-color: rgb(166, 207, 226);
    padding: 10px
}
.flex-social .content-head {
    position: relative;
    background-image: url(https://images.pexels.com/photos/433617/pexels-photo-433617.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    width: 95%;
    height: 190px;
}
.flex-social .content-head h2 {
    display: block;
    height: 190px;
    line-height: 190px;
    text-align: center;
    
}
.flex-social .content {
    width: 100%;
    height: 180px;
    margin-top: 10px;
    background-color: white;
}
.flex-social .content ul li{
    display: block;
    height: 45px;

}
.flex-social .content ul li a{
    border: 1px solid rgb(65, 108, 156);
    display: block;
    height:45px;
    text-align: center;
    line-height: 45px;

}


/* social desktop and tablet*/
@media screen and (min-width: 768px){
    .flex-social {
        flex-wrap: nowrap;
    }
    .flex-social .content-head {
        width: 50%;
        height: auto;
    }
    .flex-social .content-head h2 {
        height: 380px;
        line-height: 380px;
        font-size: 2em;
        
    }
    .flex-social .content {
        width: 50%;
        height: auto;
        background-color: white;
        margin-top: 0;
    }
    .flex-social .content ul li{
        height: 100px;
    
    }
    .flex-social .content ul li a{
        height:100px;
        text-align: center;
        line-height: 100px;
    
    }

}





/* Footer */

.flex-footer {
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: rgb(65, 108, 156);
    flex-wrap: wrap;
}
.flex-footer .details{
    padding: 10px;
    width: 50%;
}
.flex-footer .licence{
    padding: 10px;
    width: 50%;
    line-height: auto;
}
@media screen and (min-width: 768px){
    .flex-footer {
        flex-wrap: nowrap;
    }
    .flex-footer .details{
        text-align: center;
    }
    .flex-footer .licence{
        text-align: center;
    }
}








