* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

/* header */
#showcase {
    width: 100%;
    height: 90vh;
    text-align: center;
}
 #showcase .bg-img {
     background: url("../img/ai-codes-coding-247791\ \(1\).jpg");
     position: absolute;
     width: 100%;
     height: 90vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: -1;
 }
#showcase .content-wrap {
    padding-top: 20vh;
}

 #showcase .content-wrap img{
    width: 30vw;
    height: 30vw;
    border-radius: 15vw;
}

#showcase .content-wrap h1{
    padding-top:2vh; 
    color: white;
}
#showcase .content-wrap p{
    padding-top:2vh;
    color: white;
 }

 /* nav bar */
 #nav-bar {
     width: 100%;
     height: 10vh;
     background: whitesmoke;
 }

 #nav-bar .btn{
    margin: 1px gray solid;
    color:black;
    text-decoration: none;
    padding-left: 10px;
    line-height: 10vh;
    
}

/* Section About */
#section-about {
    background-color: rgb(166, 207, 226);
    text-align: center;
}
#section-about ul {
    margin: none;
    list-style: none;
    padding: 0%;
}
#section-about img {
    width: 30vw;
    height: 30vw;
    border-radius: 15vw;
}
#section-about .card{
    padding: 30px;
}

/* Section project */

#section-projects {
    background-color: rgb(166, 207, 226);
    width: 100%;
    height: auto;
}
#section-projects .project-head{
    position: relative;
}
#section-projects>.project-head>h2{
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 2em;
    text-shadow: 10px white;

}

#section-projects .project-img {
    width: 100%;
}
#section-projects ul {
    padding: 0;
    list-style: none;
}
#section-projects li {
    background-color: white;
    width: 95vw;
    height: auto;
    border: 0;
    margin: 0 auto;
}
#section-projects .card-content {
    
    height: auto;
    border: 0;
    margin: 10px auto;
}

#section-projects ul img{
    width: 100%;
    height: 60vw;
}

#section-projects .card-heading {
    padding: 0 10px;
}

#section-projects p {
    padding: 10px;
}

/* Section social media */

#section-social .content-wrap{
    background:  rgb(166, 207, 226);
    height: auto;
}
#section-social .content-wrap .content-head{
    position: relative;
    height: 60vw;
}
#section-social .content-wrap .content-head img{
    width: 100%;
    height: 60vw;
}
#section-social .content-wrap .content-head h2{
    position: absolute;
    top: 100px;
    left: 100px;
    color: white;
}
#section-social .content-wrap .content ul{
    list-style: none;
    height: auto;
    padding: 10px 5vw 10px 5vw;
}

#section-social .content-wrap .content a{
    text-decoration: none;
    color:black;
    padding: 20px 10px 20px 10px;
}
#section-social .content-wrap .content li{
    display: block;
    background: white;
    border: 1px rgb(240, 237, 237) solid;
    width: 90vw;
    margin: 0 auto;
}







